style{
    background-color:deepskyblue;
}
#ldy{
    background-color:deepskyblue;
}
#wnd{
    background-color:deepskyblue;
}
#ppr{
    background-color:greenyellow;
}
#gbg{
    background-color:greenyellow;
}
#bth{
    background-color:ghostwhite;
}
body{
    background-color: chartreuse;
}