/* Author: James Fehr */
/* CSS stylesheet for CleanUp site */
/* targets: index, table, contactUs, pricing, AboutUs */
/* IRC100 project */
#ldy {
  background-color:greenyellow;
  color: rgb(56, 112, 216);
}
#wnd {
    background-color:greenyellow;
    color: rgb(56, 112, 216);
}
#ppr {
  background-color:greenyellow;
  color: rgb(56, 112, 216);
}
#gbg {
  background-color: greenyellow;
  color: rgb(56, 112, 216);
}
#bth {
    background-color:greenyellow;
  color: rgb(56, 112, 216);
}
#details{
    background-color: aquamarine;
}
#money{
  background-color: aliceblue;
}
body {
  background-color: rgba(185, 185, 255, 0.459);
  color:darkgreen;
}
.hd1 {
  background-color: rgba(185, 185, 255, 0.459);
  color: rgb(56, 112, 216);
}
table, th, td {
    border: 1px solid rgb(58, 144, 170);
    border-collapse: collapse;
    background-color: rgba(185, 185, 255, 0.459);
  }

.container {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  height: 835px;
  color: aliceblue;
  text-transform: capitalize;
  align-items: baseline;
  justify-content: center;
}
.nav {
  text-align: center;
  justify-content:center;

}
.company {
  display: flex-inline-block;
  color: cornflowerblue;
  justify-content: center;
  text-align: center;
}
.contban {
  justify-content: center;
  text-align: center;
}
.flex-items {
  justify-content: center;
  flex-direction: column;
  width: auto;
  align-items: center;
  text-align: center;
}
a {
    justify-content:center;
    display: flex inline-block;
    flex-direction: column;
    text-decoration: none;
    text-rendering: auto;
    font-size:large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(56, 112, 216);
}
h1 {
  text-transform: capitalize;
  color: rgb(0, 89, 255);
  background-color: rgba(185, 185, 255, 0.459);
  padding:15px;
  margin:0px;
}
.ctbox{
  text-align: center;
  border:5px;
  border-color: black;
  outline:double 5px ;
  border-style: groove;
  border: 3px black double green ridge black blue double lightblue lightgreen black;
  border-radius: 15% 15% 15% 15%;
  -webkit-border-radius: 15% 15% 15% 15%;
  -moz-border-radius: 15% 15% 15% 15%;
  -ms-border-radius: 15% 15% 15% 15%;
  -o-border-radius: 15% 15% 15% 15%;
}
.button{
  text-align: center;
  justify-content:center;

}
.main{
  outline:double 5px black;
}
nav {
  font-family: monospace;
}
.dropbtn {
  background-color: blue;
  color: rgb(0, 89, 255);
  padding: 12px;
  font-size: medium;
  border: none;
  width:120px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: medium;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:blue;}
.rthook{
   display:inline-flex;
   flex-direction: row;
   justify-content:flex-end;
   width:80%;
   height: auto;
   text-align:left;
   background-color: blue;
}
.lhook{
    display:inline-flex;
    flex-direction:row;
    justify-content:flex-start;
    width:100%;
    height: auto;
    text-align:center;
    background-color: blue;
    color:cornflowerblue;
}
.chook{
  display:inline-block;
  width:100%;
  height: auto;
  background-color: blue;
  color:cornflowerblue;
  position: fixed;
  top: 0;
}
.cuP{
  text-align: center;
  padding:15px;
}
.lfe{
  display:flex;
  height: 25px;
  width:auto;
  padding: auto;

}
.pict{
  display:flex;
  height: 25px;
  width:auto;
  padding:5px;
  flex-direction:row;
  justify-content:flex-start;
}
.outr{
  display:inline-block;
  padding:75px;
}
.hide{
  display: none;
}
.price:hover + .hide {
  display: block;
  color: green;
}