*{
    padding:0px;
    margin:0px;
}
.container{
    display: flexbox;
    flex-direction: column;
    justify-content:center;
}
.name{
    display:flex;
}
.local{
    display: flex;
    flex-direction:column;
}