* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: monospace;
}
body{
  padding: 10px;
  text-align: center;
  background-color: #ff4d4d;
}
p{
  text-shadow: 3px;
  color: white;
  padding: 5px;
  text-align:left;
}
a{
  text-decoration: none;
}
img{
  border-style: none;
}
div{
  padding: 10px;
}
h1{
  padding:5px;
  width: 100%;
  font-family: monospace;
  font-size: 2.5em;
}
.Thrid{
  width: 33%;
  padding: 0.33%;
}
.flex{
  flex-flow: row;
  border-style:none;
  width: 100%;
  display: flex;
  /*flex-wrap: wrap;*/
}
.list-flex{
  width: 18%;
  size: 2em;
  font-family: monospace;
  border-width: thin;
  border-style: dashed;
  background-color: grey;
  color: white;
  margin-left: 2%;
  border-radius: 10px;
}
.image{
  padding: 10px;
}
#message{
  font-family: monospace;
  font-size: 1.5em;
}
